# Core Framework
streamlit
streamlit-searchbox
streamlit-webrtc
openai==0.28

# Language Models and AI Frameworks
langchain
langchain_openai
langchain_community
openai
whisper

# Audio Processing
torch
soundfile
gTTS
pydub
ffmpeg

# Data Handling and Visualization
pandas
numpy
matplotlib
plotly
