# Core Framework
streamlit
streamlit-searchbox
streamlit-webrtc


# Language Models and AI Frameworks
openai==0.28
whisper
langchain
langchain_openai
langchain_community



# Audio Processing
torch
soundfile
gTTS
pydub
ffmpeg

# Data Handling and Visualization
pandas
numpy
matplotlib
plotly
